.buildPage {
  background-image: url('../images/grey-wp.jpg');
}

.buildPageTop {
  display: grid;
  grid-template-columns: 75% 1fr;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
  background-repeat: repeat;
  border-bottom: 1px solid #d28e4f;
  border-top: 1px solid #d28e4f;
  padding-bottom: 10px;
}

.codeDisplay {
  grid-column: 1;
  display: flex; 
  height: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: #d28e4f;
  padding-left: 25px;
  /* padding-bottom: 10px; */
}

.codeDisplayContainer {
  padding-bottom: 25px;
}

.hierarchy-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column: 2;
  padding-left: 15px;
  padding-right: 10px;
  background-color: black;
  color: #d28e4f;
  border-left: 1px solid #d28e4f;
  /* border-width: medium;
  border:solid; */
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;}

code {
  font-family: Courier, 'New Courier', monospace;
  font-size: 12px;
}
  
.codeDisplayContainer {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* margin: 1em 0; */
    /*padding-left: 25px; */
}

h1 {
  font-size: 24px;
}
.buildPageHeader {
  border-bottom: 2px solid #d28e4f;
  border-top: 1px solid #d28e4f;
  background-color: #1a3643;
  opacity: .6;
  color: white;
}


button {
  margin-left: 5px;
}

.bottom-container {
  /* position: fixed; */
  overflow-y: scroll;
  max-height: 768px;
}
