.generator-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  grid-column: 2;
  padding-left: 2px;
  background-image: url('../images/grey-wp.jpg');
  background-repeat: repeat;
  color: white;
  min-height: 1200px;
}

.genHead {
  border-bottom: 2px solid white;
  border-top: 1px solid white;
  background-color: #1a3643;
  opacity: .6;
}

.generator-container button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
  width: 10em;
  background-color: white;
  height: 50px;
}

.submitButton {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
  width: 10em;
  background-color: white;
  height: 50px;
}

.top-container,
.bottom-container {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.bottom-container input,
.bottom-container select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid grey;
  margin: 5px;
}

#imageupload {
 max-width: 500px;
 max-height: 250px;
}