.libraryContainer {
  grid-column: 2;
  /* display:flex; */
  overflow-y: scroll;
  min-height: 1000px;

  /* justify-content: center; */
  background-image: url("../images/grey-wp.jpg");
  background-repeat: repeat;
  border-bottom: 1px solid #d28e4f;
  border-top: 1px solid #d28e4f;
  /* margin-top: 10px;*/
}

.ui-library {
  color: #1a3643;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 65px;
}

h1 {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.libraryHeader {
  color: white;
  border-bottom: 2px solid white;
  border-top: 1px solid white;
  background-color: #1a3643;
  /*display: flex; */
  /* justify-content: center;  */
  opacity: 0.6;
  /* height: 50px; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* position: fixed; */
  /* margin-bottom: 100px; */
  /* box-shadow: 0px 10px 14px -7px #276873;
	background-color:black;
	border-radius:8px;
	/* display:inline-block; */
  /* cursor:pointer; */
  /* color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
  text-shadow:0px 1px 0px #3d768a; */
}
